* {
    margin: 0px;
    padding: 0px;
}

.logo {
    background-color: white;
    margin-right: 10px;
}

.app {
    display: flex;
}

.optionList>div {
    display: flex;
    margin: 10px;
    align-items: center;
    padding: 5px 10px;
    border-radius: 20px;
}

.optionList>div:hover {
    background-color: rgba(0, 0, 0.242);
}

.option {
    width: 20vw;
    height: 100vh;
    background-color: #222;
    border: solid 1px #333;
    color: #fff;
    display: flex;
    justify-content: center;
}

.navbar {
    width: 80vw;
    height: 60vh;
    background-color: #333;
    display: flex;
    align-items: center;
    padding: 0px 10px;
    color: #fff;
}

.title>p {
    margin: 0px;
    font-size: 20px;
}