body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  line-height: 10px;
  background-color: black;
  opacity: 0.9;
}

.first-bar {
  height: 69px;
  display: flex;
  padding-left: 10px;
  border-bottom: 1px solid seashell;
  align-items: center;
}

.logo img {
  flex: 1;
  height: 50px;
}

.bar a {
  margin-left: 20px;
  color: seashell;
}

.bar {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.bg-img img {
  width: 1200px;
  height: 700px;
}

.two-bar .text {
  position: absolute;
  top: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  left: 8px;
  right: 0;
  overflow: auto;
}

.three-bar {
  width: 1000px;
}
