/* Navigation-Bar setting */

.main-container {
    font-family: Arial;
    height: 64px;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

#logogrp {
    display: flex;
    flex-direction: row;
}

#bargrp {
    display: flex;
    align-items: center;
}

.logo {
    padding-left: 24px;
    align-items: center;
}

.text {
    height: 32px;
    align-items: center;
    padding: 22px 0px;
}

.Navigation-Bar {
    display: flex;
    flex-direction: row;
}

.link {
    margin-right: 8px;
    margin-left: 8px;
}


/* frist-bar */

.frist-bar {
    background-color: rgb(216 216 216);
    font-family: Arial;
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

#frist-bar-img {
    width: 60%;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.frist-bar-text {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1 {
    font-size: 30px;
}

h4 {
    line-height: 5px;
}

.button {
    padding: 8px 20px;
    background-color: black;
    color: white;
    text-align: center;
}

#bargrp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


/* three bar */

.three-bar {
    background-color: white;
    font-family: Arial;
    display: flex;
    align-items: center;
    padding: 32px 24px;
}

#three-bar-img {
    width: 60%;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-right: 24px;
}

h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    padding-top: 32px;
    margin: 0;
}

h4 {
    font-family: Arial, sans-serif;
    font-style: italic;
    text-align: center;
    line-height: 20px;
    padding-top: 24px;
    margin: 0;
    font-size: 15px;
}

.box {
    display: flex;
    align-items: center;
    border: solid rgba(165, 163, 163, 0.712) 1px;
    padding-right: 16px;
    box-sizing: border-box;
    padding: 16px;
}

.box-photo {
    width: 40%;
}

.three-bar .box-img {
    width: 35%;
    height: auto;
    margin: 0px;
}

.box .bx-text {
    width: 65%;
}

h2 {
    margin: 0;
}

h5 {
    margin: 0;
    padding-top: 8px;
}


/* four bar */

.four-bar {
    background-color: rgba(221, 221, 221, 0.877);
}

h3 {
    text-align: center;
}

.photo-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-left: 72px;
    padding-right: 72px;
}

.box-img-01 {
    flex-direction: column;
    flex-wrap: wrap;
    margin: 16px;
    background-color: rgba(255, 255, 255, 0.918);
    padding-bottom: 16px;
    width: 25%;
    min-height: 20rem;
    max-width: 100%;
    display: block;
    height: auto;
}

.photo-box img {
    max-width: 100%;
    height: auto;
    display: block;
}

.photo-box figure {
    max-width: auto;
    height: 100%;
    overflow: hidden;
    margin: 0;
}

.box-img-01 h3 {
    margin: 0;
    padding: 16px;
}

.classes {
    margin: 0;
    text-transform: capitalize;
    padding: 0 14 24 16;
}

.courses {
    text-transform: uppercase;
    padding: 8px 16px;
    margin: 0;
}


/* five bar */

.five-bar {
    display: flex;
    padding: 32px 24px;
}

.right-photo {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.left {
    width: 60%;
    overflow: hidden;
    padding-right: 1.5rem;
}

.left img,
.left video {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-01 {
    margin: 0;
    font-family: Arial, sans-serif;
    font-style: italic;
    padding-bottom: 32px;
}

.left h3 {
    margin: 0;
    padding-top: 24px;
    padding-bottom: 8px;
}

.box-bg-color {
    display: flex;
    align-items: center;
    border: solid rgba(187, 223, 223, 0.4) 1px;
    padding-right: 1rem;
}

.box-01 {
    display: flex;
    align-items: center;
    border: solid rgba(187, 223, 223, 0.4) 1px;
    padding-right: 1rem;
}

.left .text {
    font-family: "roboto", sans-serif;
    font-style: italic;
    padding-bottom: 32px;
}

.box-bg-photo {
    display: flex;
    align-items: center;
    border: solid rgba(187, 223, 223, 0.4) 1px;
    padding-right: 1rem;
}

.box-bg-photo .dst {
    max-width: 100%;
    display: block;
    height: auto;
}

.figure {
    width: 35%;
}

.figure img.dst {
    width: 100%;
}

.box-01 .text-02,
.box-bg-color .text-02 {
    align-items: center;
    width: 65%;
}

.box-01 .text-01 {
    width: 65%;
}

.exhibit {
    display: flex;
    flex-direction: row;
}

.five-bar-text {
    text-align: center;
}


/* fucking last*/

footer {
    position: relative;
    top: 4rem;
    height: 4rem;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer nav {
    list-style: none;
    display: inline-block;
}

ul {
    list-style: none;
    display: flex;
}

li {
    padding-left: 10px;
}

footer {
    margin-right: 1.5rem;
}